.features {
    background: url(../assets/home-4.jpeg) no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

    &__container {
        @include flexIt(column, center, flex-end);
        width: 60%;
        padding: 200px 0 200px 0;
        @media (max-width: 1200px) {
            background: rgba(255, 255, 255, 0.9);
            width: 100%;
            @include flexIt(column, center, center);
        }

        &--inner {
            // background: blanchedalmond;
            display: flex;
            width: 80%;
            padding: 40px 0;
            @media (max-width: 900px) {
                flex-direction: column;
                padding: 50px 0;
            }
            @media (max-width: 700px) {
                padding: 0;
            }
        }

        &--content {
            display: flex;
            @media (max-width: 700px) {
                padding: 20px;
            }
        }

        &--icon {
            border-radius: 50%;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: 60%;
            margin-right: 30px;

            i {
                font-size: 1.5rem;
            }
        }

        &--copy {
            
            h3 {
                text-transform: uppercase;
                font-family: $montserrat;
                color: $black;
                font-weight: normal;
                font-size: 1rem;
                margin-bottom: 10px;
                letter-spacing: 0.3px;
            }

            p {
                font-family: $openSans;
                color: $lightGrey;
                max-width: 90%;
                line-height: 30px;
                font-size: 0.8rem;
                @media (max-width: 1200px) {
                    color: $black;
                }
            }
        }
    }
}





