#features {
    background: url(../../../assets/home-4.jpeg);
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.features--container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;
    // background-color: crimson;
}

.inner-container {
    display: flex;
    width: 100%;
    // background-color: coral;
    padding: 40px 0;
}

.content--container {
    display: flex;

    .fas {
        // margin-right: 20px;
        // position: relative;
    }

    // .fas::after {
    //     content: "";
    //     height: 50px;
    //     width: 50px;
    //     border: 2px solid black;
    //     position: absolute;
    //     border-radius: 50%;
    //     top: -15px;
    //     left: -20px;
    // }
}

.feature-content {
    // background-color: darkcyan;

    h3 {
        text-transform: uppercase;
        font-family: $openSans;
        font-weight: normal;
        margin-bottom: 10px;
    }

    p {
        font-family: $openSans;
        width: 70%;
    }
}

.icon-container {
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}


