.features {
    background: url(../assets/home-4.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;

    &__container {
        @include flexIt(column, center, flex-end);
        width: 60%;
        padding: 200px 0;
        @media (max-width: 1200px) {
            background: rgba(255, 255, 255, 0.9);
            width: 100%;
            @include flexIt(column, center, center);
        }

        @media (max-width: 900px) {
            padding: 100px 0;
        }

        @media (max-width: 900px) {
            padding: 100px 0 50px 0;
        }


        &--inner {
            display: flex;
            width: 80%;
            padding: 40px 0;
            @media (max-width: 900px) {
                flex-direction: column;
                padding: 0;
            }
        }

        &--content {
            display: flex;
            @media (max-width: 900px) {
                padding: 20px;
            }

            @media (max-width: 500px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &--icon {
            border-radius: 50%;
            border: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 50px;
            margin-right: 30px;
            padding: 30px 10px;

            @media (max-width: 500px) {
                width: 70px;
                margin-right: 0;
            }

            i {
                font-size: 1.5rem;
            }
        }

        &--copy {

            @media (max-width: 500px) {
                text-align: center;
                padding: 20px 0;
            }
            
            h3 {
                text-transform: uppercase;
                font-family: $montserrat;
                color: $black;
                font-weight: normal;
                font-size: 1rem;
                margin-bottom: 10px;
                letter-spacing: 0.3px;
            }

            p {
                font-family: $openSans;
                color: $lightGrey;
                width: 90%;
                line-height: 30px;
                font-size: 0.8rem;
                @media (max-width: 1200px) {
                    color: $black;
                }

                @media (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}





