.footer {
    background: $black;
    color: $offWhite;
    h5 {
        text-transform: uppercase;
    }

    .wrapper {
        display: flex;
        padding: 200px 0;
        // align-items: center;
        justify-content: space-between;
        @media (max-width: 1600px) {
            width: 80%;
        }

        @media (max-width: 1400px) {
            width: 90%;
        }

        @media (max-width: 900px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    &__contact {
        ul {
            margin: 40px 0 20px 0;
        }
    }

    &__sm  i:nth-of-type(2) {
        margin: 0 20px;
    }

    &__posts {
        h5 {
            text-align: center;
        }

        ul {
            margin: 40px 0 0 0;
            line-height: 30px;
        }

        li {
            list-style-type: disc;
        }
    }

    &__logo {
        text-align: center;
        padding: 50px 0;
        border-top: 1px solid $offWhite;
    }   

    &__form { 
        text-align: end;

        input[type="email"] {
            padding: 10px;
        }

        button {
            background: $lightSage;
            border: none;
            padding: 10px;
        }

        label {
            display: block;
            margin: 40px 0 20px 0;
        }
    }
}

