#slider {
    background: $white;
    font-family: $openSans;

    p {
        color: $black;
        width: 50%;
        text-align: center;
        margin: auto;
        font-style: italic;
        line-height: 30px;
    }

    .wrapper {
        // background: chocolate;
        padding: 100px 0;
    }
}

.slider__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 100px 0 50px 0;

    .fa-angle-left, .fa-angle-right {
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    .fa-angle-left:hover, .fa-angle-right:hover {
        opacity: .5;
    }

    &--image {
        border-radius: 50%;
    }

    
}