
.team {
    background: $white;
    position: relative;

    .line {
        width: 1px;
        height: 60px;
        background: $lightGrey;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 3;
    }

    h3 {
        text-transform: uppercase;
        text-align: center;
        padding-top: 100px;
        @media (max-width: 900px) {
            padding-bottom: 50px;
        }
    }

    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 100px 0 200px 0;
        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding: 0;
        }

        img {
            width: 100%;
        }

        img:nth-of-type(1) {
            @media (max-width: 1400px) {
                grid-column: 1 / 2;
                grid-row: 2 / 2;   
            }
            
            @media (max-width: 900px) {
                grid-column: 1 / 2;
                grid-row: 2 / 4;
            }
        }

        img:nth-of-type(2) {
            @media (max-width: 1400px) {
                grid-column: 2 / 3;
                grid-row: 2 / 2;   
            }
            
            @media (max-width: 900px) {
                grid-column: 2 / 3;
                grid-row: 2 / 4;
            }
        }

        img:nth-of-type(3) {
            @media (max-width: 1400px) {
                grid-column: 3 / 4;
                grid-row: 2 / 2;   
            }
            
            @media (max-width: 900px) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }

        img:nth-of-type(4) {
            @media (max-width: 1400px) {
                grid-column: 1 / 2;
                grid-row: 3 / 3;   
            }
            
            @media (max-width: 900px) {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }
        }

        img:nth-of-type(5) {
            @media (max-width: 1400px) {
                grid-column: 2 / 3;
                grid-row: 3 / 3;   
            }
            
            @media (max-width: 900px) {
                grid-column: 1 / 2;
                grid-row: 4 / 4;
            }
        }

        &--description {
            grid-column: 1 / 3;
            grid-row: 1 / 1;
            @media (max-width: 1400px) {
                grid-column: 1 / 5;
                grid-row: 1 / 1;;
            }

            @media (max-width: 900px) {
                grid-column: 1 / 3;
                grid-row: 0 / 4;
            }
            background: $offWhite;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 50px;
            
            h4 {
                margin-bottom: 20px;
            }

            p {
                line-height: 30px;
            }
        }

        &--join {
            @include flexIt(row, center, center);
            background: $white;
            text-transform: uppercase;
            grid-column: 4 / 5;
            grid-row: 2 / 2;
            font-family: $openSans;
            padding: 50px;
            text-align: center;
            transition: all 0.3s ease-out;
            @media(max-width: 1400px) {
                grid-column: 3 / 4;
                grid-row: 3 / 3;
            }

            @media (max-width: 900px) {
                grid-column: 2 / 3;
                grid-row: 4 / 4;
            }

            &:hover {
                background: $black;
                color: $offWhite;
            } 
        }
    }
}

