.team {
    background: $white;

    h3 {
        text-align: center;
    }

    &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

        &--description {
            max-width: 540px;
            height: 270px;
            background: $offWhite;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 50px;
            h4 {
                margin-bottom: 20px;
            }
        }

        &--join {
            text-transform: uppercase;
            width: 100%;
            max-width: 270px;
            height: 270px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $openSans;
            padding: 50px;
            text-align: center;
            letter-spacing: 0.3px;
            font-size: .875rem;
        }
    }
}

