#comment__form {
    padding: 200px 0;

    h2 {
        text-transform: uppercase;
        font-family: $montserrat;
        padding: 0 0 50px 0;
        position: relative;
        @media (max-width: 900px) {
            text-align: center;
        }
    }

    h2:after {
        content: '';
        height: 1px;
        background: $lightGrey;
        position: absolute;
        width: 100%;
        bottom: 30px;
        left: 0;
    }

     &--name, &--email, &--subject {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom: 1px solid $lightGrey;
        padding: 0 0 10px 0;
        width: 32%;
        @media (max-width: 900px) {
            width: 100%;
        }
    }

    &--email {
        @media (max-width: 900px) {
            margin: 40px 0;
        }
    }
}

.comment__form {
    &--container {
        @include flexIt(row, space-between, stretch);
        @media (max-width: 900px) {
            @include flexIt(column, space-between, stretch);
        }
    }

    textarea {
        display: block;
        width: 100%;
        margin: 50px 0;
        border-style: none;
        border-bottom: 1px solid $lightGrey;
        resize: none;
    }

    &--button {
        background: none;
        border-style: none;
        border-bottom: 1px solid $black;
        text-transform: uppercase;
        padding-bottom: 5px;
        @media (max-width: 900px) {
            
        }
    }
}