//Various global styles.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

body p, ul, label, li {
    font-family: $openSans;
}

body p, ul, label {
    font-size: .875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}

h2, h3, h4, h5 {
    font-family: $montserrat;
    letter-spacing: 1.8px;
    font-weight: normal;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

