//Navigation parent container.
.navigation {
    @include flexIt(row, space-between, center);
    text-transform: uppercase;
    font-family: $montserrat;

    @media (max-width: 900px) {
        background: $white;
        width: 100%;
    }

    //Navigation wrapper selector
    &__wrapper {
        @include flexIt(row, space-between, center)
    }

    //Mobile hamburger nav.
    .fa-bars {
        font-size: 2rem;
        display: none;
        
        @media (max-width: 900px) {
            display: block;
        }
    }

    //Logo & main heading.
    h1 {
        transition: all 0.3s ease-in-out;
        
        //Slight hover animation that scales heading. 
        &:hover {
            transform: scale(1.1);
        }
    }

    //Nav lists are separated in two, this contains it. 
    &__container {
        width: 25%;

        @media (max-width: 900px) {
            display: none;
        }
    }

    //<ul> elements for nav.
    &__list--right, &__list--left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: .9rem;
    }

    //<a> tags for nav. 
    &__list--right .link {
        position: relative;

        &:hover::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: $black;
            bottom: -2px;
            left: 0;
            animation: grow 0.5s forwards;
        }
    }

    &__list--right .fa-shopping-bag {
        position: relative;
        font-size: 1rem;
    }

    //Little green notification for shopping bag.
    &__list--right .fa-shopping-bag::after {
        content: "2";
        font-family: $openSans;
        font-size: .7rem;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: $lightSage;
        position: absolute;
        bottom: -15px;
        right: -15px;
        padding: 2px;
        text-align: center;
    }

    //Main logo/heading.
    &__logo {
        font-size: 2rem;
        font-weight: bold;
    }
}

.navigation__mobile {
    background: $white;
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
    height: 50%;

    @media (min-width: 900px) {
        display: none;
    }

    ul {
        height: 100%;
        font-size: 1.3rem;
        @include flexIt(column, space-evenly, center);
    }
}




