//Parent article element.
.article {

    //Slight navigational links beneath main heading.
     &__link {
        margin: 20px 0 100px 0;
        
        @media (max-width: 900px) {
            text-align: center;
        }

        a {
            color: $lightGrey;
            position: relative;
        }
    }

    //'Contains' article information.
    &__container {
        @include flexIt(row, space-between, stretch);
        position: relative;
        
        @media (max-width: 1200px) {
            @include flexIt(column, center, center);
        }
    }

    h2 {
        padding: 100px 0 0 0;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: bold;
        
        @media (max-width: 900px) {
            text-align: center;
            font-size: 2.5rem;
        }
        
        @media (max-width: 400px) {
            text-align: center;
            font-size: 2rem;
        }
    }

     h3 {
        text-transform: uppercase;
        font-weight: normal;
    }

    //Border line beneath article information.
    &__container::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        bottom: -50px;
    }

    //Article information.
    &__information {
        @include flexIt(row, flex-start, center);      
        
        @media (max-width: 500px) {
            @include flexIt(column, flex-start, stretch);
            text-align: center;
        }
    }

    //Author information
    &__author {
        @include flexIt(row, flex-start, center);
       
        @media (max-width: 1200px) {
            margin-bottom: 50px;
        }

        @media (max-width: 600px) {
            justify-content: center;
        }

        @media (max-width: 500px) {
            @include flexIt(column, center, center);
            margin-bottom: 0;;
        }

        img {
            border-radius: 50%;
            margin-right: 40px;

            @media (max-width: 500px) {
                margin: 0;
            }
        }

        &--info {
             @media (max-width: 500px) {
                padding: 20px 0;
            }
        }

        &--info p {
            font-weight: normal;
            color: $lightGrey;    
        }
    }

    //Article date information.
    &__date p, 
    &__tags p {
        color: $lightGrey;
    }
   
    //Article category.
    &__category {
        margin: 0 50px;

        @media (max-width: 500px) {
            margin: 20px 0;
        }

        p {
            color: $lightGrey;
        }
    }

    //Article content.
    &__content {
        p {
            color: $lightGrey;
        }
        
        p:first-of-type {
            color: $black;
            font-weight: bold;
            padding: 100px 0 0 0;
        }
        
        p:nth-of-type(2) {
            padding: 30px 0;
        }

        p:nth-of-type(3) {
            padding: 0 0 30px 0;
        }

        p:nth-of-type(4) {
            padding: 0 0 30px 0;
        }
    }

    //'Share' and social media icons. 
    &__sm {
        display: flex;
        padding: 0 0 30px 0;
        
        p {
            text-transform: uppercase;
            margin-right: 20px;
        }

        .icons {
            .fa-twitter {
                margin: 0 20px;
            }
        }
    }
}