//Comments section/parent container.
.comments {
    h2 {
        font-weight: bold;
        text-transform: uppercase;
        padding: 100px 0 0 0;
        position: relative;
        @media (max-width: 900px) {
            text-align: center;
        }
    }

    //Border for comments heading.
    h2:after {
        content: '';
        height: 1px;
        background: $lightGrey;
        position: absolute;
        width: 100%;
        bottom: -20px;
        left: 0;
    }
}

//Comment element that contains text and comment author.
.comment {
    display: flex;
    margin: 50px 0;
    @media (max-width: 400px) {
        @include flexIt(column, flex-start, stretch)
    }

    //Profile picture of commenter.
    &__image {
        width: 70px;
        height: 70px;
        margin-right: 50px ;

        img {
            width: 100%;
            height: 100%;
        }
    }

    //name of commenter.
     &__name {
        text-transform: uppercase;
        font-size: 1rem;
            
        span {
            font-style: italic;
            font-size: .8rem;
            color: $lightGrey;
        }
    }
    
    //comment text.
     &__text {
        padding: 10px 0;
    }

    //Comment date.
    &__date {
         color: $lightGrey;
    }

    //Comment box.
    &__container {
        background: $offWhite;
        padding: 20px 20px 40px 20px;
        width: 100%;

        h3 {
            font-weight: normal;
        }
        
        @media(max-width: 400px) {
            margin: 20px 0;
        }
    }
}

