
//Vertical line graphic for branding section.
.branding::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 150px;
    background: $lightGrey;
    top: -65px;
    left: 50%;
    z-index: 0;
}

//Branding section parent element.
.branding {
    background: $lightSage;
    position: relative;

    &__image {
       width: 100%;
       max-width: 30%;
       margin: 0 auto;
       padding: 200px 0 50px 0;
        
       @media(max-width: 1000px) {
           max-width: 70%;
       }

       @media(max-width: 500px) {
           max-width: 90%;
       }

          &--top {
            position: absolute;
            z-index: 0;
            width: 50%;
            top: -120px;
            left: -120px;
            
            img {
                width: 100%;
                max-width: 90%;
            }
            
            @media(max-width: 1200px) {
                top: -80px;
                left: -70px;
            }

            @media(max-width: 500px) {
                top: -80px;
                left: 0;
            }
        }

        &--bottom {
            position: relative;
            
            img {
                width: 100%;
            }
        }
    }

    //THe text content for the branding page.  
    &__content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 100px;
    
        @media(max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }

        //Left and right content sections.
        &--left, &--right {
            font-family: $montserrat;
            font-weight: normal;
            text-align: center;
            width: 25%;
        
            @media(max-width: 1000px) {
                width: 100%;
                margin: 20px 0;
            }

            h2 {
                text-transform: uppercase;
                font-weight: normal;
                font-size: 1rem;
                margin-bottom: 20px;
            }

            p {
                font-size: .8rem;
                line-height: 30px;
            }
        }
    }
}




