html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body p, ul, label, li {
  font-family: "Open Sans", sans-serif;
}

body p, ul, label {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
}

@-webkit-keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.hideNav {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 2;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 900px) {
  .navigation {
    width: 100%;
  }
}
.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .fa-bars {
  font-size: 2rem;
  display: none;
}
@media (max-width: 900px) {
  .navigation .fa-bars {
    display: block;
  }
}
.navigation h1 {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation__container {
  width: 25%;
}
@media (max-width: 900px) {
  .navigation__container {
    display: none;
  }
}
.navigation__list--right, .navigation__list--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 0.9rem;
}
.navigation__list--right .link, .navigation__list--left .link {
  position: relative;
}
.navigation__list--right .link:hover::after, .navigation__list--left .link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: -2px;
  left: 0;
  -webkit-animation: grow 0.5s forwards;
          animation: grow 0.5s forwards;
}
.navigation__list--right .fa-shopping-bag {
  position: relative;
  font-size: 1rem;
}
.navigation__list--right .fa-shopping-bag::after {
  content: "2";
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #C3DAB7;
  position: absolute;
  bottom: -15px;
  right: -15px;
  padding: 2px;
  text-align: center;
}
.navigation__logo {
  font-size: 2rem;
  font-weight: bold;
}

.navigation__mobile {
  padding: 50px 0;
  background: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
@media (min-width: 900px) {
  .navigation__mobile {
    display: none;
  }
}
.navigation__mobile ul {
  height: 100%;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__mobile ul li {
  padding: 20px 0;
}

.navigation__contact {
  background: #FFF;
  position: fixed;
  z-index: 2;
}

.navigation__color {
  background: #FFF;
}

.header__main {
  background: url(../assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
@media (max-width: 400px) {
  .header__main {
    height: 90vh;
  }
}

.header__blog {
  background: url(../assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media (max-width: 1000px) {
  .header__blog {
    height: 80vh;
  }
}
@media (max-width: 720px) {
  .header__blog {
    height: 60vh;
  }
}
@media (max-width: 520px) {
  .header__blog {
    height: 50vh;
  }
}

.footer {
  background: #333;
  color: #F6F6F6;
}
.footer h5 {
  text-transform: uppercase;
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 200px 0;
}
@media (max-width: 900px) {
  .footer .wrapper {
    padding: 0;
  }
}
@media (max-width: 1100px) {
  .footer .wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1100px) {
  .footer__contact {
    padding: 50px 0;
  }
}
.footer__contact ul {
  margin: 40px 0 20px 0;
}
@media (max-width: 1100px) {
  .footer__contact ul {
    text-align: center;
    margin: 20px 0;
  }
}
@media (max-width: 1100px) {
  .footer__contact h5 {
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .footer__sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__sm i:nth-of-type(2) {
  margin: 0 20px;
}
@media (max-width: 1100px) {
  .footer__posts {
    padding: 0 0 50px 0;
  }
}
.footer__posts h5 {
  text-align: center;
}
.footer__posts ul {
  margin-top: 40px;
  line-height: 30px;
}
@media (max-width: 1100px) {
  .footer__posts ul {
    margin-top: 20px;
    text-align: center;
  }
}
.footer__posts li {
  list-style-type: disc;
}
@media (max-width: 900px) {
  .footer__posts li {
    list-style: none;
  }
}
.footer__logo {
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid rgba(246, 246, 246, 0.2);
}
.footer__form {
  text-align: end;
}
@media (max-width: 1100px) {
  .footer__form {
    width: 80%;
    padding-bottom: 40px;
    text-align: center;
  }
}
.footer__form input[type=email],
.footer__form input[type=email]:focus {
  padding: 10px;
}
@media (max-width: 1100px) {
  .footer__form input[type=email],
.footer__form input[type=email]:focus {
    width: 80%;
  }
}
.footer__form button {
  background: #C3DAB7;
  border: 0;
  padding: 12px;
}
.footer__form label {
  display: block;
  margin: 40px 0 20px 0;
}
@media (max-width: 1100px) {
  .footer__form label {
    margin: 20px 0;
  }
}

.form {
  padding: 200px 0;
}
.form h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 50px 0;
  position: relative;
}
@media (max-width: 900px) {
  .form h2 {
    text-align: center;
  }
}
.form h2:after {
  content: "";
  height: 1px;
  background: #999;
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
}
.form input, .form input:focus {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #999;
  padding: 0 0 10px 0;
  width: 32%;
}
@media (max-width: 900px) {
  .form input, .form input:focus {
    width: 100%;
  }
}
.form input:focus {
  outline: none;
  border-bottom: 2px solid #333;
}
@media (max-width: 900px) {
  .form__email {
    margin: 40px 0;
  }
}

.comment__form--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 900px) {
  .comment__form--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.comment__form textarea {
  display: block;
  width: 100%;
  margin: 50px 0;
  border-style: none;
  border-bottom: 1px solid #999;
  resize: none;
}
.comment__form textarea, .comment__form textarea:focus {
  width: 100%;
}
.comment__form textarea:focus {
  outline: none;
  border-bottom: 2px solid #333;
}
.comment__form--button {
  background: none;
  border-style: none;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  padding-bottom: 5px;
}
@media (max-width: 900px) {
  .comment__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.branding::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  background: #999;
  top: -65px;
  left: 50%;
  z-index: 0;
}

.branding {
  background: #C3DAB7;
  position: relative;
}
.branding__image {
  width: 100%;
  max-width: 30%;
  margin: 0 auto;
  padding: 200px 0 50px 0;
}
@media (max-width: 1000px) {
  .branding__image {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .branding__image {
    max-width: 90%;
  }
}
.branding__image--top {
  position: absolute;
  z-index: 0;
  width: 50%;
  top: -120px;
  left: -120px;
}
.branding__image--top img {
  width: 100%;
  max-width: 90%;
}
@media (max-width: 1200px) {
  .branding__image--top {
    top: -80px;
    left: -70px;
  }
}
@media (max-width: 500px) {
  .branding__image--top {
    top: -80px;
    left: 0;
  }
}
.branding__image--bottom {
  position: relative;
}
.branding__image--bottom img {
  width: 100%;
}
.branding__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .branding__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.branding__content--left, .branding__content--right {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  width: 25%;
}
@media (max-width: 1000px) {
  .branding__content--left, .branding__content--right {
    width: 100%;
    margin: 20px 0;
  }
}
.branding__content--left h2, .branding__content--right h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 20px;
}
.branding__content--left p, .branding__content--right p {
  font-size: 0.8rem;
  line-height: 30px;
}

.slider {
  background: #FFF;
  font-family: "Open Sans", sans-serif;
}
.slider p {
  color: #333;
  width: 50%;
  text-align: center;
  margin: auto;
  font-style: italic;
  line-height: 30px;
}
@media (max-width: 1200px) {
  .slider p {
    width: 100%;
  }
}
.slider .wrapper {
  padding: 100px 0;
}
.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 100px 0 50px 0;
}
@media (max-width: 720px) {
  .slider__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 400px) {
  .slider__container {
    padding: 50px 0;
  }
}
.slider__container .fa-angle-left, .slider__container .fa-angle-right {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
@media (max-width: 720px) {
  .slider__container .fa-angle-left, .slider__container .fa-angle-right {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
.slider__container .fa-angle-left:hover, .slider__container .fa-angle-right:hover {
  opacity: 0.5;
}
.slider__container--image {
  border-radius: 50%;
  max-height: 289px;
}
@media (max-width: 400px) {
  .slider__container--image {
    width: 50%;
  }
}

.features {
  background: url(../assets/home-4.jpeg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
  padding: 200px 0;
}
@media (max-width: 1400px) {
  .features__container {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 900px) {
  .features__container {
    padding: 100px 0;
  }
}
@media (max-width: 900px) {
  .features__container {
    padding: 100px 0 50px 0;
  }
}
.features__container--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding: 40px 0;
}
@media (max-width: 900px) {
  .features__container--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
.features__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 900px) {
  .features__container--content {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .features__container--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features__container--icon {
  border-radius: 50%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 50px;
  margin-right: 30px;
  padding: 30px 10px;
}
@media (max-width: 500px) {
  .features__container--icon {
    width: 70px;
    margin-right: 0;
  }
}
.features__container--icon i {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .features__container--copy {
    text-align: center;
    padding: 20px 0;
  }
}
.features__container--copy h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}
.features__container--copy p {
  font-family: "Open Sans", sans-serif;
  color: #999;
  width: 90%;
  line-height: 30px;
  font-size: 0.8rem;
}
@media (max-width: 1200px) {
  .features__container--copy p {
    color: #333;
  }
}
@media (max-width: 500px) {
  .features__container--copy p {
    width: 100%;
  }
}

.team::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 60px;
  background: #999;
  position: absolute;
  top: 0;
  left: 50%;
}

.team {
  background: #FFF;
  position: relative;
}
.team h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}
@media (max-width: 900px) {
  .team h3 {
    padding-bottom: 50px;
  }
}
.team__container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 100px 0 200px 0;
}
@media (max-width: 1400px) {
  .team__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .team__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0;
  }
}
@media (max-width: 500px) {
  .team__container {
    grid-template-rows: repeat(7, 1fr);
    padding-bottom: 20px;
  }
}
.team__container img {
  width: 100%;
}
@media (max-width: 1400px) {
  .team__container img:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/2;
  }
}
@media (max-width: 900px) {
  .team__container img:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
@media (max-width: 500px) {
  .team__container img:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 2/7;
  }
}
@media (max-width: 1400px) {
  .team__container img:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/2;
  }
}
@media (max-width: 900px) {
  .team__container img:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
@media (max-width: 500px) {
  .team__container img:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 3/7;
  }
}
@media (max-width: 1400px) {
  .team__container img:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/2;
  }
}
@media (max-width: 900px) {
  .team__container img:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 500px) {
  .team__container img:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 4/7;
  }
}
@media (max-width: 1400px) {
  .team__container img:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 3/3;
  }
}
@media (max-width: 900px) {
  .team__container img:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 500px) {
  .team__container img:nth-of-type(4) {
    grid-column: 1/3;
    grid-row: 5/7;
  }
}
@media (max-width: 1400px) {
  .team__container img:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 3/3;
  }
}
@media (max-width: 900px) {
  .team__container img:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 4/4;
  }
}
@media (max-width: 500px) {
  .team__container img:nth-of-type(5) {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}
.team__container--description {
  grid-column: 1/3;
  grid-row: 1/1;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px;
}
@media (max-width: 1400px) {
  .team__container--description {
    grid-column: 1/5;
    grid-row: 1/1;
  }
}
@media (max-width: 900px) {
  .team__container--description {
    grid-column: 1/3;
    grid-row: 0/4;
  }
}
@media (max-width: 600px) {
  .team__container--description {
    padding: 50px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .team__container--description {
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team__container--description h4 {
  margin-bottom: 20px;
}
.team__container--description p {
  line-height: 30px;
}
.team__container--join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  text-transform: uppercase;
  grid-column: 4/5;
  grid-row: 2/2;
  font-family: "Open Sans", sans-serif;
  padding: 50px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (max-width: 1400px) {
  .team__container--join {
    grid-column: 3/4;
    grid-row: 3/3;
  }
}
@media (max-width: 900px) {
  .team__container--join {
    grid-column: 2/3;
    grid-row: 4/4;
  }
}
@media (max-width: 500px) {
  .team__container--join {
    padding: 0;
    grid-column: 1/3;
    grid-row: 7/7;
  }
}
.team__container--join:hover {
  background: #333;
  color: #F6F6F6;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 900px) {
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.portfolio__image {
  width: 50%;
}
@media (max-width: 900px) {
  .portfolio__image {
    width: 100%;
  }
}
.portfolio__content {
  background: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px;
  width: 50%;
}
@media (max-width: 1700px) {
  .portfolio__content {
    padding: 100px;
  }
}
@media (max-width: 900px) {
  .portfolio__content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .portfolio__content {
    padding: 100px 10px;
  }
}
.portfolio__content h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.portfolio__content p {
  text-align: center;
  line-height: 30px;
  margin: 50px 0;
}
.portfolio__content button {
  padding: 20px 40px;
  background: #FFF;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio__content button:hover {
  background: #333;
  color: #FFF;
}

.article__link {
  margin: 20px 0 100px 0;
}
@media (max-width: 900px) {
  .article__link {
    text-align: center;
  }
}
.article__link a {
  color: #999;
  position: relative;
}
.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}
@media (max-width: 1200px) {
  .article__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.article h2 {
  padding: 100px 0 0 0;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
}
@media (max-width: 900px) {
  .article h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .article h2 {
    text-align: center;
    font-size: 2rem;
  }
}
.article h3 {
  text-transform: uppercase;
  font-weight: normal;
}
.article__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: -50px;
}
.article__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .article__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }
}
.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .article__author {
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .article__author {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .article__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.article__author img {
  border-radius: 50%;
  margin-right: 40px;
}
@media (max-width: 500px) {
  .article__author img {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .article__author--info {
    padding: 20px 0;
  }
}
.article__author--info p {
  font-weight: normal;
  color: #999;
}
.article__date p, .article__tags p {
  color: #999;
}
.article__category {
  margin: 0 50px;
}
@media (max-width: 500px) {
  .article__category {
    margin: 20px 0;
  }
}
.article__category p {
  color: #999;
}
.article__content p {
  color: #999;
}
.article__content p:first-of-type {
  color: #333;
  font-weight: bold;
  padding: 100px 0 0 0;
}
.article__content p:nth-of-type(2) {
  padding: 30px 0;
}
.article__content p:nth-of-type(3) {
  padding: 0 0 30px 0;
}
.article__content p:nth-of-type(4) {
  padding: 0 0 30px 0;
}
.article__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 30px 0;
}
.article__sm p {
  text-transform: uppercase;
  margin-right: 20px;
}
.article__sm .icons .fa-twitter {
  margin: 0 20px;
}

@media (max-width: 900px) {
  .posts p {
    text-align: center;
  }
}
.posts img {
  width: 100%;
}
.posts h2 {
  text-transform: uppercase;
  padding: 50px 0;
  position: relative;
  font-weight: bold;
}
@media (max-width: 900px) {
  .posts h2 {
    text-align: center;
  }
}
.posts h2:after {
  content: "";
  height: 1px;
  background: #999;
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
}
.posts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 900px) {
  .posts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.posts__post {
  text-transform: uppercase;
}
.posts__post p {
  padding: 10px 0;
}

.comments h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 100px 0 0 0;
  position: relative;
}
@media (max-width: 900px) {
  .comments h2 {
    text-align: center;
  }
}
.comments h2:after {
  content: "";
  height: 1px;
  background: #999;
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}
@media (max-width: 400px) {
  .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.comment img {
  margin-right: 50px;
}
.comment__name {
  text-transform: uppercase;
  font-size: 1rem;
}
.comment__name span {
  font-style: italic;
  font-size: 0.8rem;
  color: #999;
}
.comment__text {
  padding: 10px 0;
}
.comment__date {
  color: #999;
}
.comment__container {
  background: #F6F6F6;
  padding: 20px 20px 40px 20px;
  width: 100%;
}
.comment__container h3 {
  font-weight: normal;
}
@media (max-width: 400px) {
  .comment__container {
    margin: 20px 0;
  }
}

.contact {
  padding-top: 100px;
}
.contact p {
  color: #999;
}
.contact__container {
  position: relative;
}
.contact__container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  position: relative;
  font-weight: bold;
  top: -100px;
  left: 0;
}
@media (max-width: 1200px) {
  .contact__container h2 {
    top: 0;
  }
}
@media (max-width: 400px) {
  .contact__container h2 {
    font-size: 2rem;
  }
}
.contact__container h2 span {
  display: block;
}
.contact__container h2::before {
  content: "";
  height: 5px;
  width: 50px;
  position: absolute;
  top: -20px;
  background: #333;
}
.contact__container h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.contact__details {
  width: 50%;
}
@media (max-width: 1200px) {
  .contact__details {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
}
.contact__details h3 {
  margin-bottom: 20px;
}
.contact__image {
  width: 100%;
  display: block;
}
@media (max-width: 1200px) {
  .contact__touch {
    text-align: center;
  }
}
.contact__touch h3 {
  margin-bottom: 20px;
}
.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 1400px) {
  .contact__icons {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .contact__icons {
    padding: 100px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1200px) {
  .contact__icons--item {
    text-align: center;
  }
}
.contact__icons--item h3 {
  padding: 20px 0 10px 0;
}
.contact__icons--item p {
  color: #999;
}
.contact__icons--item i {
  font-size: 2rem;
}
.contact__icons--item:nth-of-type(2) {
  position: relative;
}
@media (max-width: 1400px) {
  .contact__icons--item:nth-of-type(2) {
    padding: 100px 0;
  }
}
.contact__icons--item:nth-of-type(2):before {
  content: "";
  position: absolute;
  width: 2px;
  height: 200px;
  background: #F6F6F6;
  left: -50px;
  top: -20px;
}
@media (max-width: 1400px) {
  .contact__icons--item:nth-of-type(2):before {
    top: 50px;
  }
}
.contact__icons--item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 200px;
  background: #F6F6F6;
  right: -50px;
  top: -20px;
}
@media (max-width: 1400px) {
  .contact__icons--item:nth-of-type(2)::after {
    top: 50px;
  }
}