* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 125%;
}

body p {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 50%;
  max-width: 1080px;
}

#header-main {
  background: url(../../../assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#header-blog {
  background: url(../../../assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.navigation__container {
  width: 20%;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 0.7rem;
}
.navigation__list .link {
  position: relative;
}
.navigation__list .link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: -2px;
  left: 0;
  -webkit-animation: grow 0.5s forwards;
          animation: grow 0.5s forwards;
}
.navigation__list .fa-shopping-bag {
  position: relative;
}
.navigation__logo {
  font-size: 2rem;
  font-weight: bold;
}

@-webkit-keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.wrapper {
  width: 80%;
  max-width: 2160px;
  margin: 0 auto;
}

.branding {
  background: #C3DAB7;
}
.branding__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: blueviolet;
  margin: auto;
  width: 100%;
  max-width: 40%;
}
.branding__image {
  position: relative;
  width: 100%;
  padding: 100px;
}
.branding__image--top {
  position: relative;
  width: 50%;
  z-index: 1;
  top: -100px;
  left: -100px;
}
.branding__image--top img {
  width: 100%;
}
.branding__image--bottom {
  position: absolute;
  width: 100%;
  top: 0;
}
.branding__image--bottom img {
  width: 100%;
}
.branding__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.branding__content--left, .branding__content--right {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  width: 25%;
}
.branding__content--left h2, .branding__content--right h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 20px;
}
.branding__content--left p, .branding__content--right p {
  font-size: 0.8rem;
  line-height: 30px;
}

.image-container-2 {
  background-color: chocolate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.home-img-2 {
  width: 20%;
}

.circle-img-2 {
  width: 20%;
}

#slider {
  background: #FFF;
  font-family: "Open Sans", sans-serif;
}
#slider p {
  color: #333;
  width: 50%;
  text-align: center;
  margin: auto;
  font-style: italic;
  line-height: 30px;
}
#slider .wrapper {
  padding: 100px 0;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 100px 0 50px 0;
}
.slider__container .fa-angle-left, .slider__container .fa-angle-right {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.slider__container .fa-angle-left:hover, .slider__container .fa-angle-right:hover {
  opacity: 0.5;
}
.slider__container--image {
  border-radius: 50%;
}

.features {
  background: url(../../../assets/home-4.jpeg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
.features__container--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 40px 0;
}
.features__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__container--icon {
  border-radius: 50%;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 60px;
  margin-right: 20px;
}
.features__container--copy h3 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}
.features__container--copy p {
  font-family: "Open Sans", sans-serif;
  color: #999;
  width: 80%;
}

.team {
  background: #FFF;
}
.team h3 {
  text-align: center;
}
.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__container--description {
  max-width: 540px;
  height: 270px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px;
}
.team__container--description h4 {
  margin-bottom: 20px;
}
.team__container--join {
  text-transform: uppercase;
  width: 100%;
  max-width: 270px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  padding: 50px;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 0.875rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__content {
  background: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px;
}
.contact__content h4 {
  text-transform: uppercase;
}
.contact__content p {
  text-align: center;
  line-height: 30px;
  margin: 50px 0;
}
.contact__content button {
  width: 200px;
  height: 50px;
  background: #FFF;
  border: none;
  text-transform: upppercase;
}

.footer {
  background: #333;
  color: #F6F6F6;
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer__contact ul {
  margin: 20px 0;
}
.footer__posts ul {
  margin: 20px 0;
}
.footer__logo {
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid #F6F6F6;
}

.wrapper {
  width: 70%;
}

.article {
  font-family: "Open Sans", sans-serif;
}
.article__information--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.article__information--container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: -50px;
}
.article h3 {
  text-transform: uppercase;
  font-weight: normal;
}
.article__link {
  margin: 20px 0 100px 0;
}
.article__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__information--author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.article__information--author img {
  border-radius: 50%;
  margin-right: 40px;
}
.article__information--author--info {
  font-weight: normal;
}
.article__information--category {
  margin: 0 50px;
}
.article h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}
.article__content p:first-of-type {
  font-weight: bold;
  padding: 100px 0 0 0;
}
.article__content p:nth-of-type(2) {
  padding: 50px 0;
}
.article__content p:nth-of-type(3) {
  padding: 0 0 50px 0;
}
.article__content p:nth-of-type(4) {
  padding: 0 0 50px 0;
}
.article__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article__sm p {
  margin-right: 20px;
}
.article__sm .icons .fa-twitter {
  margin: 0 20px;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}
.comment img {
  margin-right: 50px;
}
.comment__container {
  background: #F6F6F6;
  padding: 20px;
}

.wrapper {
  width: 70%;
}

header .navigation-contact {
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact__title--container {
  position: relative;
}
.contact__title--container h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.contact__title--container h2 span {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}